<style>
  #shopify-section-{{ section.id }} {
    --section-padding-top: {{ section.settings.padding_top }}px;
    --section-padding-bottom: {{ section.settings.padding_bottom }}px;
    {%- render 'section-variables', section: section -%}
    --section-grid-gap: {{ section.settings.grid_horizontal }}px;
  }
</style>

<div class="section section--padding{% if section.settings.divider %} section--divider{% endif %}{% if section.settings.rounded %} section--rounded relative{% endif %}">
  <div class="{% if section.settings.layout == 'default' %}page-width {% if section.settings.full_width %}page-width--full {% endif %}{% else %}{% unless section.settings.full_width %}page-width {% endunless %}{% endif %}relative">
    {%- render 'section-heading', section: section -%}

    {%- if section.blocks.size > 0 -%}
      <div class="{{ section.settings.heading_alignment }} overflow-hidden">
        {%- if section.settings.layout == 'marquee' -%}
          <logo-list class="logo-list logo-list--{{ section.settings.direction }} flex items-center" data-speed="{{ section.settings.speed }}" data-direction="{{ section.settings.direction }}">
        {%- endif -%}
          <div class="logo-bar inline-flex flex-wrap items-center justify-center{% if section.settings.layout == 'marquee' %} flex-nowrap{% endif %}">
            {%- for block in section.blocks -%}
              {%- liquid
                assign image_height = block.settings.height
                assign image_height_2x = block.settings.height | times: 2
              -%}
              <div class="logo__media media media--transparent relative overflow-hidden shrink-0" style="--image-height: {{ image_height }}px;" {{ block.shopify_attributes }}>
                {%- if block.settings.image != blank -%}
                  <img
                    srcset="{{ section.settings.image | image_url: height: image_height }} 1x, {{ block.settings.image | image_url: height: image_height_2x }} 2x"
                    src="{{ section.settings.image | image_url: height: image_height }}"
                    alt="{{ section.settings.image.alt | escape }}"
                    loading="lazy"
                    width="{{ image_height | times: section.settings.image.aspect_ratio }}"
                    height="{{ image_height }}"
                    is="lazy-image"
                  />
                {%- else -%}
                  {{- 'logo' | placeholder_svg_tag: 'placeholder' -}}
                {%- endif -%}
                {%- if section.settings.link != blank -%}
                  <a href="{{ section.settings.link }}" class="block absolute top-0 left-0 w-full h-full" aria-hidden="true">&nbsp;</a>
                {%- endif -%}
              </div>
            {%- endfor -%}
          </div>
        {%- if section.settings.layout == 'marquee' -%}
          </logo-list>
        {%- endif -%}
      </div>
    {%- endif -%}
  </div>
</div>


