<div class="counter-card flex flex-col w-full size-style spacing-style" style="{% render 'section-size-style', settings: block.settings %}{% render 'section-spacing-style', settings: block.settings %}" {{ block.shopify_attributes }}>
  {%- if block.settings.number != blank -%}
    <p class="counter-heading {{ block.settings.text_font }} {{ block.settings.text_size }}{% if block.settings.text_font == 'subtitle' %} uppercase leading-tight tracking-widest{% endif %} whitespace-nowrap">
      <number-counter data-duration="{{ block.settings.duration }}">{{ block.settings.number | escape }}</number-counter>
      {{- block.settings.unit | escape -}}
    </p>
  {%- endif -%}
  {% content_for 'blocks' %}
</div>

{% schema %}
{
  "name": "t:sections.number-counter.blocks.counter.name",
  "tag": null,
  "blocks": [
    {
      "type": "@theme"
    },
    {
      "type": "@app"
    }
  ],
  "settings": [
    {
      "type": "text",
      "id": "number",
      "label": "t:sections.number-counter.blocks.counter.settings.number.label",
      "default": "100"
    },
    {
      "type": "text",
      "id": "unit",
      "label": "t:sections.number-counter.blocks.counter.settings.unit.label"
    },
    {
      "type": "range",
      "id": "duration",
      "label": "t:sections.number-counter.blocks.counter.settings.duration.label",
      "min": 0.5,
      "max": 5,
      "step": 0.1,
      "unit": "s",
      "default": 2
    },
    {
      "type": "select",
      "id": "text_font",
      "options": [
        {
          "value": "body",
          "label": "t:sections.global.settings.text_font.options__1.label"
        },
        {
          "value": "heading",
          "label": "t:sections.global.settings.text_font.options__2.label"
        },
        {
          "value": "subtitle",
          "label": "t:sections.global.settings.text_font.options__3.label"
        }
      ],
      "default": "heading",
      "label": "t:sections.global.settings.text_font.label"
    },
    {
      "type": "select",
      "id": "text_size",
      "options": [
        {
          "value": "title-sm",
          "label": "t:sections.global.settings.text_size.options__1.label"
        },
        {
          "value": "title-md",
          "label": "t:sections.global.settings.text_size.options__2.label"
        },
        {
          "value": "title-lg tracking-heading",
          "label": "t:sections.global.settings.text_size.options__3.label"
        },
        {
          "value": "title-xl tracking-heading",
          "label": "t:sections.global.settings.text_size.options__4.label"
        }
      ],
      "default": "title-lg tracking-heading",
      "label": "t:sections.global.settings.text_size.label"
    },
    {
      "type": "header",
      "content": "t:blocks.group.settings.header__size.content"
    },
    {
      "type": "select",
      "id": "width",
      "label": "t:blocks.group.settings.width.label",
      "options": [
        {
          "value": "fit-content",
          "label": "t:blocks.group.settings.width.options__1.label"
        },
        {
          "value": "fill",
          "label": "t:blocks.group.settings.width.options__2.label"
        },
        {
          "value": "custom",
          "label": "t:blocks.group.settings.width.options__3.label"
        }
      ],
      "default": "fill"
    },
    {
      "type": "range",
      "id": "custom_width",
      "label": "t:blocks.group.settings.custom_width.label",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "default": 100,
      "visible_if": "{{ block.settings.width == 'custom' }}"
    },
    {
      "type": "select",
      "id": "width_mobile",
      "label": "t:blocks.group.settings.width_mobile.label",
      "options": [
        {
          "value": "fit-content",
          "label": "t:blocks.group.settings.width.options__1.label"
        },
        {
          "value": "fill",
          "label": "t:blocks.group.settings.width.options__2.label"
        },
        {
          "value": "custom",
          "label": "t:blocks.group.settings.width.options__3.label"
        }
      ],
      "default": "fill"
    },
    {
      "type": "range",
      "id": "custom_width_mobile",
      "label": "t:blocks.group.settings.custom_width.label",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "default": 100,
      "visible_if": "{{ block.settings.width_mobile == 'custom' }}"
    },
    {
      "type": "header",
      "content": "t:blocks.group.settings.header__padding.content"
    },
    {
      "type": "range",
      "id": "padding-block-start",
      "label": "t:blocks.group.settings.padding_top.label",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding-block-end",
      "label": "t:blocks.group.settings.padding_bottom.label",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding-inline-start",
      "label": "t:blocks.group.settings.padding_left.label",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding-inline-end",
      "label": "t:blocks.group.settings.padding_right.label",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    }
  ],
  "presets": [
    {
      "name": "t:sections.number-counter.blocks.counter.name",
      "settings": {
        "number": "150K",
        "unit": "+",
        "duration": 2
      },
      "blocks": {
        "text": {
          "type": "text",
          "settings": {
            "text": "<p>Happy customers</p>",
            "text_font": "subtitle"
          }
        }
      },
      "block_order": ["text"]
    }
  ]
}
{% endschema %}
