{%- if block.settings.text != blank -%}
  {%- liquid
    assign with_gradient = false
    if section.settings.gradient_highlight != blank and section.settings.gradient_highlight != 'rgba(0,0,0,0)'
      assign with_gradient = true
    endif

    assign alignment = 'inherit'
    if block.settings.width != 'fit-content'
      assign alignment = block.settings.alignment
    endif
    assign alignment_mobile = 'inherit'
    if block.settings.width != 'fit-content'
      assign alignment_mobile = block.settings.alignment_mobile
    endif
  -%}
  <div class="rte {{ block.settings.text_font }} {{ block.settings.text_size }}{% if block.settings.text_font == 'subtitle' %} uppercase leading-tight tracking-widest{% else %} leading-normal{% endif %}{% if block.settings.secondary_color %} text-opacity{% endif %} text-{{ alignment_mobile }} md:text-{{ alignment }} size-style" style="{% render 'section-size-style', settings: block.settings %}{% if block.settings.text_size == 'subtext-custom' %} --subtext-size:{{ block.settings.text_max_size }}px; --subtext-line-height:{{ block.settings.text_line_height }}; --subtext-letter-spacing:{{ block.settings.text_letter_spacing | divided_by: 1000.00 }}em;{% if block.settings.text_capitalize %} --subtext-text-transform:uppercase;{% endif %}{% endif %}" {{ block.shopify_attributes }}>
    {%- if block.settings.effects == 'reveal' -%}
      <split-words class="split-words js-invisible block" data-animate="fade-up-large" data-animate-delay="250">{{ block.settings.text }}</split-words>
    {%- elsif block.settings.effects == 'highlight' -%}
      {%- render 'highlighted-text', content: block.settings.text, style: block.settings.highlighted_text, scribble: block.settings.highlighted_scribble, gradient: with_gradient -%}
    {%- else -%}
      {{- block.settings.text -}}
    {%- endif -%}
  </div>
{%- endif -%}

{% schema %}
{
  "name": "t:blocks.text.name",
  "tag": null,
  "settings": [
    {
      "type": "richtext",
      "id": "text",
      "label": "t:sections.global.settings.text.label"
    },
    {
      "type": "select",
      "id": "text_font",
      "options": [
        {
          "value": "body",
          "label": "t:sections.global.settings.text_font.options__1.label"
        },
        {
          "value": "heading",
          "label": "t:sections.global.settings.text_font.options__2.label"
        },
        {
          "value": "subtitle",
          "label": "t:sections.global.settings.text_font.options__3.label"
        }
      ],
      "default": "body",
      "label": "t:sections.global.settings.text_font.label"
    },
    {
      "type": "select",
      "id": "text_size",
      "options": [
        {
          "value": "text-sm",
          "label": "t:sections.global.settings.text_size.options__1.label"
        },
        {
          "value": "text-base",
          "label": "t:sections.global.settings.text_size.options__2.label"
        },
        {
          "value": "text-base lg:text-lg",
          "label": "t:sections.global.settings.text_size.options__3.label"
        },
        {
          "value": "text-base lg:text-xl",
          "label": "t:sections.global.settings.text_size.options__4.label"
        },
        {
          "value": "subtext-custom",
          "label": "t:sections.global.settings.text_size.options__5.label"
        }
      ],
      "default": "text-base",
      "label": "t:sections.global.settings.text_size.label"
    },
    {
      "visible_if": "{{ block.settings.text_size == 'subtext-custom' }}",
      "type": "range",
      "id": "text_max_size",
      "default": 32,
      "min": 12,
      "max": 128,
      "step": 2,
      "unit": "px",
      "label": "t:sections.global.settings.text_max_size.label"
    },
    {
      "visible_if": "{{ block.settings.text_size == 'subtext-custom' }}",
      "type": "range",
      "id": "text_line_height",
      "label": "t:sections.global.settings.text_line_height.label",
      "default": 1.6,
      "min": 0.8,
      "max": 2,
      "step": 0.1
    },
    {
      "visible_if": "{{ block.settings.text_size == 'subtext-custom' }}",
      "type": "range",
      "id": "text_letter_spacing",
      "label": "t:sections.global.settings.text_letter_spacing.label",
      "default": 0,
      "min": -75,
      "max": 250,
      "step": 5
    },
    {
      "visible_if": "{{ block.settings.text_size == 'subtext-custom' }}",
      "type": "checkbox",
      "id": "text_capitalize",
      "label": "t:sections.global.settings.text_capitalize.label"
    },
    {
      "type": "checkbox",
      "id": "secondary_color",
      "default": false,
      "label": "t:sections.global.settings.secondary_color.label"
    },
    {
      "type": "header",
      "content": "t:blocks.group.settings.header__size.content"
    },
    {
      "type": "select",
      "id": "width",
      "label": "t:blocks.group.settings.width.label",
      "options": [
        {
          "value": "fit-content",
          "label": "t:blocks.group.settings.width.options__1.label"
        },
        {
          "value": "fill",
          "label": "t:blocks.group.settings.width.options__2.label"
        },
        {
          "value": "custom",
          "label": "t:blocks.group.settings.width.options__3.label"
        }
      ],
      "default": "fit-content"
    },
    {
      "type": "range",
      "id": "custom_width",
      "label": "t:blocks.group.settings.custom_width.label",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "default": 100,
      "visible_if": "{{ block.settings.width == 'custom' }}"
    },
    {
      "type": "text_alignment",
      "id": "alignment",
      "label": "t:blocks.group.settings.alignment.label",
      "default": "left",
      "visible_if": "{{ block.settings.width == 'fill' or block.settings.width == 'custom' }}"
    },
    {
      "type": "select",
      "id": "width_mobile",
      "label": "t:blocks.group.settings.width_mobile.label",
      "options": [
        {
          "value": "fit-content",
          "label": "t:blocks.group.settings.width.options__1.label"
        },
        {
          "value": "fill",
          "label": "t:blocks.group.settings.width.options__2.label"
        },
        {
          "value": "custom",
          "label": "t:blocks.group.settings.width.options__3.label"
        }
      ],
      "default": "fit-content"
    },
    {
      "type": "range",
      "id": "custom_width_mobile",
      "label": "t:blocks.group.settings.custom_width.label",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "default": 100,
      "visible_if": "{{ block.settings.width_mobile == 'custom' }}"
    },
    {
      "type": "header",
      "content": "t:blocks.group.settings.header__animation.content"
    },
    {
      "type": "select",
      "id": "effects",
      "label": "t:sections.global.settings.effects.label",
      "options": [
        {
          "value": "none",
          "label": "t:sections.global.settings.effects.options__1.label"
        },
        {
          "value": "reveal",
          "label": "t:sections.global.settings.effects.options__2.label"
        },
        {
          "value": "highlight",
          "label": "t:sections.global.settings.effects.options__3.label"
        }
      ],
      "default": "none"
    },
    {
      "visible_if": "{{ block.settings.effects == 'highlight' }}",
      "type": "header",
      "content": "t:sections.global.settings.header__highlight.content",
      "info": "t:sections.global.settings.header__highlight.info"
    },
    {
      "visible_if": "{{ block.settings.effects == 'highlight' }}",
      "type": "select",
      "id": "highlighted_text",
      "options": [
        {
          "value": "text",
          "label": "t:sections.global.settings.highlighted_text.options__2.label"
        },
        {
          "value": "full_text",
          "label": "t:sections.global.settings.highlighted_text.options__3.label"
        },
        {
          "value": "half_text",
          "label": "t:sections.global.settings.highlighted_text.options__4.label"
        },
        {
          "value": "underline",
          "label": "t:sections.global.settings.highlighted_text.options__5.label"
        },
        {
          "value": "stencil",
          "label": "t:sections.global.settings.highlighted_text.options__6.label"
        },
        {
          "value": "scribble",
          "label": "t:sections.global.settings.highlighted_text.options__7.label"
        }
      ],
      "default": "text",
      "label": "t:sections.global.settings.highlighted_text.label"
    },
    {
      "visible_if": "{{ block.settings.effects == 'highlight' and block.settings.highlighted_text == 'scribble' }}",
      "type": "select",
      "id": "highlighted_scribble",
      "options": [
        {
          "value": "circle",
          "label": "t:sections.global.settings.highlighted_scribble.options__1.label"
        },
        {
          "value": "basic-underline",
          "label": "t:sections.global.settings.highlighted_scribble.options__2.label"
        },
        {
          "value": "sketch-underline",
          "label": "t:sections.global.settings.highlighted_scribble.options__3.label"
        },
        {
          "value": "squiggle-underline",
          "label": "t:sections.global.settings.highlighted_scribble.options__4.label"
        },
        {
          "value": "squiggle-underline-2",
          "label": "t:sections.global.settings.highlighted_scribble.options__5.label"
        }
      ],
      "default": "circle",
      "label": "t:sections.global.settings.highlighted_scribble.label",
      "info": "t:sections.global.settings.highlighted_scribble.info"
    }
  ],
  "presets": [
    {
      "name": "t:blocks.text.name",
      "category": "t:categories.basic",
      "settings": {
        "text": "<p>We make things that work better and last longer. Our products solve real problems with clean design and honest materials.</p>"
      }
    }
  ]
}
{% endschema %}
