<div class="cus-product-bg">
    <div class="page-width">
        <div class="product-container">
            {% for block in section.blocks %}
                <div class="product-container-flex">
                    <div class="left-col">
                     {% if block.settings.block_image != blank %}
                        <img src="{{ block.settings.block_image | img_url: 'master' }}" >
                     {% endif %}
                    </div>
                    <div class="right-col">
                     {% if block.settings.product != blank %}
                       {% assign selected_product = all_products[block.settings.product] %}
    
                   {% if selected_product %}
                  <div class="custom-product-card">
                    <a href="{{ selected_product.url }}">
                     {{ selected_product.featured_image | image_url: width: 400 | image_tag }}
                     <h3>{{ selected_product.title }}</h3>
                      <span>{{ selected_product.price | money }}</span>
                   </a>
                  </div>
                    {% endif %}
            {% endif %}
</div>

                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% schema %}
{
  "name": "Product Block",
  "settings": [],
  "blocks": [
    {
      "type": "product",
      "name": "Product",
      "settings": [
        {
          "type": "image_picker",
          "id": "block_image",
          "label": "Main Image"
        },
        {
  "type": "product",
  "id": "product",
  "label": "Slect Product"
}
      ]
    }
],
  "presets": [
    { 
        "name": "Product Block"
     }
]
}
{% endschema %}